__pycache__/
*.py[cod]
*$py.class

*.so

.Python
env/
venv/
ENV/
.env
.venv
*.egg-info/
dist/
build/
*.egg
.eggs/

*.manifest
*.spec

env_setup.log

htmlcov/
.tox/
.nox/
.coverage
*.cover
.coverage.*
.cache
pytest_cache/

.ipynb_checkpoints

.idea/

.vscode/

.DS_Store

Thumbs.db
Desktop.ini

*.log

models/
data/
